HELP.md
application-local.properties
application-devSub.properties
.gradle
**/.gradle
**/.gradle/buildOutputCleanup/cache.properties
.history
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/backup/
**/bin/
**/logs/
# **/images/
**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
**/logs/**
**/uploadedFiles/**
/logs/idas.log
# !*.properties

### AdminLTE ###
/src/**/AdminLTE/
/src/**/bootstrap-5.3.0/
/src/**/jstree/
/src/**/jstree-bootstrap-theme/
/src/**/*.1
/src/**/*.2
/docs/**/*.png

### mimsc ###
**/*.txt
**/*.out
**/*.pid
**/*.log
**/*.zip
**/*.gz
**/bin/**
**/build/**
**/logs/**
**/uploadedFiles/**
**/backup/**
**/*.old/**
/docs/**/*.png
settings.gradle
src/main/java/com/dreamsecurity/idaas/database/DataBaseConfigLocal
src/main/java/com/dreamsecurity/idaas/session/redis/RedisConfigDev.java